
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.box{
    display: flex;
   flex: auto;
}

header {
    background-color: #a95f29f9;
    color: #fff;
    padding: 15px 0;
    
}

#h{
    font-size: 50px;
    margin: 0;
    
}

nav {
    position:absolute;
    top: 0;
    right: 0;
    margin: 40px;
    margin-right: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

nav a i {
    margin-right: 10px; 
}

nav a:hover span {
    display: inline;
}

nav a span {
    display: none;
}

.hero {
    background-color: #e0dccd;
    color: #333;
    padding: 80px 0;
    display: flex;
    flex: auto;
}
.hero p {
    font-style: italic;
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}

.hero p:first-child {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 5px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero img {
    float: right; 
    max-height: 300px; 
    border-radius: 10px; 
    margin-left: 20px; 
    object-fit: cover;
    
}

.hero{
    display: flex;
}

.an-img{
    margin-left: 70px;
}

#typewriter-text {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0;
    font-size: 2.5em;
    position: relative;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#typewriter-text::after {
    content: '|';
    position: absolute;
    top: 0;
    right: 0;
    width: 0.08em;
    margin-left: 2px; 
    animation: blink 1s step-end infinite; 
}

#donate-form {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 40px;
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
    font-size: 1.1em;
}
select,
input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 0.75px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 19px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

input::placeholder{
    color: gray;
}

.num-email{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
}

.Pan{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 40px; 
}

.scp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px; 
}
.fd{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}  
.tick {
    margin-right: 10px;
    width: 15px;
    margin-bottom: 0px;
}
.ch{
    display: grid;
    grid-template-columns: 0fr 2fr;
}
#ti{
    margin-top: 0px;
    margin-bottom: 0px;

}
  
button {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 500px;
    transition: background-color 0.5s;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background-color:  #a95f29f9;
    color: white;
    font-weight: 900;
}


#Team{
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 40px;
    margin: 40px 0;
    margin-left: 100px;
    margin-right: 100px;
}

.F-Cof{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    margin-top: 50px;    
}


#f, #cof{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 500px;
    filter: drop-shadow(0 0 0.75rem rgb(105, 83, 87));
}

#Contact{
    background-color: #333; 
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.con{ 
    margin: 0 auto;
    padding:0; 
    margin-left: 550px;
    
    position: absolute;

}
.con ul{
    display: flex;
    list-style: none;
}
.con li{
    margin-right: 40px;
}
.con a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;

}
.con i {
    padding-right: 0px;
}

.con a:hover span {
    display: inline-block;
}

.con a span {
    display: none;
    padding-left: 20px;
    font-size: 0.85em;
}

#Agenda{
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 40px;
    margin: 40px 0;
    margin-left: 100px;
    margin-right: 100px;
}

.Ag{
    padding-left: 90px;
    padding-right: 80px;
}
footer {
    background-color:  #333;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 100px;
    
}
